.menu {
    align-items: flex-start;
    width: 300px;
}
.menu .upload {
    width: 296px;
    height: 100px;
    border: 1px;
    border-color: gray;
    border-style: dashed;
}
.menu .upload-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu .upload-wrapper .ms-Label {
    margin-left: 10px;
}
.menu .upload-wrapper .ms-Icon {
    margin: 20px auto;
    cursor: pointer;
}
.menu .upload:hover {
    height: 200px;
    border: 2px;
    border-color: grey;
    border-style: dashed;

}
.menu a {
    padding-left: 10px;
}
.menu-download {
    margin: 10px;
}